body.dark-mode .h2 {
  color: black;
  background-color: teal;
  border: 2px solid #004d4d;
}
body.dark-mode .h2:hover {
  color: #00b3b3;
}
.h2 {
  border: 2px solid teal;
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: #1affff;
}
.h2:hover {
  color: #004d4d;
  background-color: #00e6e6;
  box-shadow: 0 0 0 2px #1affff;
}
.matn {
  margin: auto;
  border: 2px dashed gray;
  background-color: white;
}
.matn h1:hover {
  color: teal;
}
#light-cure,
#amalgamator,
#suction,
#camera,
#cavitron {
  margin: auto;
}
@media screen and (max-width: 560px) {
  .small-text {
    font-size: smaller;
  }
  h5 {
    font-size: smaller;
  }
}
